<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gymDetail</title>
    <link rel="stylesheet" th:href="@{/css/GymInfo.css}" />
</head>
<body>
<div id="upper">
    <div id="leftLogo">
        <div>
            <a class="upperBtn" type="button" th:href="@{/gym}">
                <img id="goBack" src="https://cdn-icons-png.flaticon.com/512/594/594298.png" />
            </a>
        </div>
    </div>
    <div id="icon"> <!--home-->
        <div>
            <button class="upperBtn" type="button">
                <img
                        id="i4"
                        src="https://cdn-icons-png.flaticon.com/128/69/69524.png"
                        th:onclick="|location.href='@{/}'|"
                />
            </button>
        </div>
        <div>
            <button class="upperBtn" type="button"> <!--나가기-->
                <img
                        id="i1"
                        src="https://cdn-icons-png.flaticon.com/128/7747/7747974.png"
                        th:onclick="|location.href='@{/}'|"
                />
            </button>
        </div>
        <div>
            <button
                    class="upperBtn"
                    type="button"
            > <!--회원페이지-->
                <img
                        id="i2"
                        src="https://cdn-icons-png.flaticon.com/128/747/747376.png"
                        th:onclick="|location.href='@{/user/} + ${user.getId()} + |}'|"
                />
            </button>
        </div>
        <div>
            <button class="upperBtn" id="listBtn" type="button"> <!--리스트-->
                <img
                        id="i3"
                        src="https://cdn-icons-png.flaticon.com/128/1827/1827914.png"
                />
            </button>
        </div>
    </div>
</div>
<div id="boxSet">
    <div id="btnSet">
        <button class="goBtn" th:onclick="|location.href='@{/board}'|">
            <div class="imgB">
                <img
                        class="btnImg"
                        src="https://cdn-icons-png.flaticon.com/128/7776/7776763.png"
                />
                <b>게시판</b>
            </div>
        </button>
        <button class="goBtn" th:onclick="|location.href='@{/trainer}'|">
            <div class="imgB">
                <img
                        class="btnImg"
                        src="https://cdn-icons-png.flaticon.com/512/3490/3490782.png"
                />
                <b style="font-size:13pt">트레이너</b>
            </div>
        </button>
        <button class="goBtn" th:onclick="|location.href='@{/gym}'|">
            <div class="imgB">
                <img
                        class="btnImg"
                        src="https://cdn-icons-png.flaticon.com/128/7126/7126749.png"
                />
                <b>헬스장</b>
            </div>
        </button>
        <button class="goBtn" th:onclick="|location.href='@{/event}'|">
            <div class="imgB">
                <img
                        class="btnImg"
                        src="https://cdn-icons-png.flaticon.com/128/7744/7744130.png"
                />
                <b>이벤트</b>
            </div>
        </button>
    </div>
</div>


<div id="container">
    <div class="gymImg">
        <img id="image" th:src="@{/img/gym/{id}.jpeg (id=${gym.getGymName()})}"/>
    </div>
    <div id="gymText" class="name" th:text="${gym.getGymName()}"></div>
    <div id="gymText" class="location" th:text="${gym.getGymLocation()}"></div>
    <div id="gymText" class="capacity" th:text="${gym.getGymPeople()}"></div>
    <div id="gymText" class="runningTime" th:text="${gym.getGymUsableTime()}"></div>
    <div id="gymText" class="gymCEO">사장 : <span th:text="${gym.getCeoId()}"></span></div>
    <div id="gymText" class="index">PRICE</div>
    <div class="gymInfo">
        <div id="gymText" class="price">1개월 : <span th:text="${gym.getGymPrice()}"></span></div>
    </div>

    <div id="gymText" class="index">보유 기구</div>
    <div class="gymInfo" th:each="ee : ${gym.getExerciseEquipments()}">
        <div id="gymText" class="machine" th:text="${ee.getEquipmentName()}"></div>
        <div id="gymText" class="supplement" th:each="es: ${ee.getExerciseSupplements()}">
            <div th:text="${es.getSupplementName()}"></div>
        </div>
    </div>
    <div id="gymText" class="index">이벤트</div>
    <div class="gymInfo" th:each="event : ${gym.getEvents()}">
        <div id="gymText" class="event" th:text="${event.getEventName()}"></div>
    </div>
    <div id="gymText" class="index">트레이너</div>
    <div class="gymInfo" th:each="trainer : ${gym.getTrainers()}">
        <div id="gymText" class="trainer" th:text="${trainer.getUserName()}"></div>
    </div>
    <script type="text/javascript" th:src="@{/js/Toolbar.js}"></script>
</div>

</body>
</html>