<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>selectUserType</title>
  <link rel="stylesheet" th:href="@{/css/selectType.css}" />
</head>
<body>
<h1>Gyms</h1>
<div th:each="gym : ${gyms}" style="border: #1e1e1e 1px solid">
  <a th:text="${gym.getGymName()}" th:href="@{/gym/{id} (id=${gym.getGymName()})}"></a>
  <p th:text="${gym.getCeoId()}">ceoId</p>
</div>
</body>
</html>
