<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>selectUserType</title>
  <link rel="stylesheet" th:href="@{/css/selectType.css}" />
</head>
<body>
<div>
  <h1 th:text="${board.getBoardTitle()}"></h1>
  <p th:text="${board.getBoardContent()}"></p>
  <p th:text="${board.getUserName()}"></p>
  <p th:text="${board.getBoardLike()}"></p>
</div>
</body>
</html>
