<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>selectUserType</title>
  <link rel="stylesheet" th:href="@{/css/selectType.css}" />
</head>
<body>
<h1>Reviews</h1>
<th:block th:each="board : ${boards}">
  <a th:href="@{/board/{id} (id=${board.getBoardId()})}">
    <p th:text="${board.getBoardTitle()}">title</p>
    <p th:text="${board.getUserName()}">username</p>
  </a>
</th:block>
</body>
</html>
