<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SearchTrainer</title>
    <link rel="stylesheet" th:href="@{/css/SearchTrainer.css}" />
</head>
<body>


    <div id="container">
        <div id="inputBox">
            <input id="SearchBox" value="Angel Gym" />
            <button class="searchBtn" type="button">
                <img id="searchImg" src="https://cdn-icons-png.flaticon.com/512/71/71403.png" />
            </button>
        </div>
        <div id="infoBox">
            <div id="trainerList">
                <div id="trainer1">
                    <img id="trainerImg"
                        src="https://img.freepik.com/free-photo/sportive-man-in-black-shirt-closing-his-arm-muscles_114579-17638.jpg?w=1800&t=st=1685723237~exp=1685723837~hmac=397bf2e844f0cbac3448e0a482aa27499f1113646f0b04db1e8adfd405679c48" />
                    <div id="trainerInfo">
                        <button class="trainerName" type="button">조한창</button>
                        <br>
                        <a>천안 서북구 Wave Gym</a>
                        <a>안녕하세요~ 함께 운동해서 몸짱이 되어봐요</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>