<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/LogIn.css}" />
</head>
<body style="background-color: #1e1e1e">
<div id="title">Login</div>
    <div id="outerBox">
        <form  th:action="@{/user/login}" method="post">
        <div id="innerBox">
            <div class="set">
                <b class="info">ID</b>
                <div class="inputBox">
                    <input id="Id" name="userId" placeholder="ID" />
                </div>
                <div class="set">
                    <b class="info">PW</b>
                    <div class="inputBox">
                        <input id="Pw" name="password" type="password" placeholder="Password" />
                    </div>
                </div>
                <div id="login">
                    <button class="btn" id="loginBtn" type="submit">Login</button>
                </div>
            </div>
        </div>
        </form>
        <div id="noId">
            <label>Are you a new member?</label>
            <!--todo: 에러남-->
            <button class="btn" id="signupBtn" th:onclick="|location.href='@{/user}'|">
                Sign Up
            </button>
        </div>
    </div>
</body>
</html>